# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/eventsdemo?schema=public"

# Auth.js
AUTH_SECRET="generate-a-secret-with-openssl-rand-base64-32"
AUTH_URL="http://localhost:3000"
